<div class="container-fluid">
    <div style="text-align: center;">
        <h1 style="color: wheat;" class="bg-dark">FizzBuzz</h1>
        <p class="h6">Data em tempo real: {{dataTempoReal}}</p>
        <form class="row g-2">

            <div class="col-auto">
                <label for="limite" class="form-label"><strong>Digite a quantidade limite para geração: </strong></label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" id="limite" maxlength="4" size="4" (keyup)="setLimite($event)"
                    value="30" numero>
            </div>

            <div class="col-auto">
                <label for="fizz" class="form-label"><strong>Digite o numero que seus multiplos serão Fizz: </strong></label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" id="fizz" maxlength="4" size="4" (keyup)="setFizz($event)"
                    value="3" numero>
            </div>

            <div class="col-auto">
                <label for="buzz" class="form-label"><strong>Digite o numero que seus multiplos serão Buzz: </strong></label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" id="buzz" maxlength="4" size="4" (keyup)="setBuzz($event)"
                    value="5" numero>
            </div>

            <div class="col-auto">
                <label for="fizzbuzz" class="form-label"><strong>Digite o numero que seus multiplos serão FizzBuzz: </strong></label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" id="fizzbuzz" maxlength="4" size="4" (keyup)="setFizzBuzz($event)"
                    value="15" numero>
            </div>

            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3" (click)="gerar($event)" id ="btnGerar">Gerar</button>
            </div>
        </form>
    </div>
    <h2 *ngIf="resultado.length > 0" class="resultado">{{limite | retorno }}</h2>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let res of resultado">
            {{res}}
        </li>
    </ul>
</div>